<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADICIONAR PRODUTOS</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Adicionar Produtos:</h1>
        <form action="/add_Product" method="post">
            <label for="name">Nome:</label>
            <input class="form-control" type="text" id="name" name="name" required>

            <label for="quantidade">Quantidade:</label>
            <input class="form-control" type="number" id="quantity" name="quantity" required>

            <label for="preço">Preço:</label>
            <input class="form-control" type="number" id="price" name="price" required>

            <button class="btn btn-primary mt-2">ADICIONAR</button>
        </form>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>