<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR PRODUTOS</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Editar Produtos:</h1>
        <form action="/edit_product/<%= prod.id %>" method="post">
            <label for="name">Nome:</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= prod.nome %>" required>

            <label for="quantidade">Quantidade:</label>
            <input class="form-control" type="number" id="quantity" name="quantity" value="<%= prod.quantity %>" required>

            <label for="preço">Preço:</label>
            <input class="form-control" type="number" id="price" name="price" value="<%= prod.price %>" required>

            <button class="btn btn-primary mt-2">CONFIRMAR</button>
        </form>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>